<!DOCTYPE html>
<html lang="en">
<!-- Start Head -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>자기소개서 3단계</title>

	<link rel="stylesheet" href="assets/css/style.min.css">
	<link rel="stylesheet" href="assets/css/modules.css">

	<!-- Canonical URL usage -->
	<link rel="canonical" href="https://aperitif.io/">

	<!-- Facebook Open Graph -->
	<meta property="og:url"                content="https://aperitif.io/" />
	<meta property="og:title"              content="Aperitif | The web template generator" />
	<meta property="og:description"        content="Aperitif is a rapid web template generation tool." />
	<meta property="og:image"              content="https://aperitif.io/img/aperitif-facebook.png" />
	<meta property="og:image:width"        content="1200" />
	<meta property="og:image:height"       content="630" />

	<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@Aperitif">
	<meta name="twitter:creator" content="@Aperitif">
	<meta name="twitter:title" content="Aperitif - The web template generator">
	<meta name="twitter:description" content="Aperitif is a rapid web template generation tool.">
	<meta name="twitter:image" content="https://aperitif.io/img/aperitif-card.png">

	<!-- Google Structured Data -->
	<script type="application/ld+json">
	{
	"@context" : "http://schema.org",
	"@type" : "SoftwareApplication",
	"name" : "Aperitif",
	"image" : "https://aperitif.io/img/aperitif-logo.svg",
	"url" : "https://aperitif.io/",
	"author" : {
	  "@type" : "Person",
	  "name" : "Octavector"
	},
	"datePublished" : "2017-MM-DD",
	"applicationCategory" : "HTML"
	}
  </script>
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="js/si_step3.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var companyname= '<%= companyname %>';
			var logosrc = "images/"+companyname+"_logo.jpg";
			document.getElementById('logo').src = logosrc;
			var company_id=-1;
			if(companyname=="삼성전자"){
				company_id=0;
			}
			else if(companyname=="현대자동차"){
				company_id=1;
			}
			else if(companyname=="LG전자"){
				company_id=2;
			}
			else if(companyname=="SK하이닉스"){
				company_id=3;
			}
			document.getElementById('slogan').innerHTML = slogans[company_id];
			document.getElementById('form_text_id').value = '<%= text_id %>';
    });
	</script>
  <style>
    .MOD_FEATURE_Picture {
      padding: 10px;
    }
    .button_area {
      padding: 10px;
      float: right;
    }
    .fixed_width {
      width: 336px;
      background: url(http://i.imgur.com/2cOaJ.png);
      background-attachment: local;
      background-repeat: no-repeat;
      background-size: auto 33600px;
      padding-left: 50px;
      padding-top: 1px;
      border-color:#ccc;
    }
    .num_label {
      width: 200px;
      padding: 10px;
    }
    .MOD_TEXTFORM_NumField {
      width: 100px;
      padding: 10px;
    }
  </style>
</head>
<!-- End Head -->

<body class="default" onload="Init()">

<!--
START MODULE AREA 1: Menu 1
-->
<section class="MOD_MENU" data-theme="_bgp">
  <div data-layout="_r" class="nopadding">
    <nav class="MOD_MENU_Nav">
      <p class="MOD_MENU_Title">Menu</p>
      <svg class="MOD_MENU_Button" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 30 30" enable-background="new 0 0 30 30" xml:space="preserve">
        <rect width="30" height="6"/>
        <rect y="24" width="30" height="6"/>
        <rect y="12" width="30" height="6"/>
      </svg>
      <ul class="AP_Menu_List">
        <li>
          <a href="#" data-theme="_bgp">마이 페이지</a>
        </li>
        <li>
          <a href="#" data-theme="_bgp">자기소개서</a>
          <ul>
            <li>
              <a href="#" data-theme="_bgpd">삼성전자</a>
            </li>
            <li>
              <a href="#" data-theme="_bgpd">현대자동차</a>
            </li>
            <li>
              <a href="#" data-theme="_bgpd">LG전자</a>
            </li>
            <li>
              <a href="#" data-theme="_bgpd">SK하이닉스</a>
            </li>
          </ul>
      </ul>
    </nav>
  </div>
</section>
<!--
END MODULE AREA 1: Menu 1
-->

<!--
  START MODULE AREA 2: Page Title 1
-->
<section>
  <div data-layout="_r">
    <div data-layout="al16">
      <h1>3단계 : 자기소개서 첨삭</h1>
      <p>상대방의 자기소개서를 읽어본 후 성의 있게 첨삭해 주세요.</p>
      <br><br>
      <h3><첨삭 방법></h3>
      <p>
        1. 각 문항을 클릭하면 상대방이 작성한 문제와 답안을 확인할 수 있습니다. <br>
        <br>
        2. 문제별로 첨삭 내용을 입력할 수 있습니다. <br>
        첨삭 내용은 100자 이상 4000자 이하로 작성 가능합니다. <br>
        또한 실시간으로 현재 첨삭 분량이 적절한지를 체크할 수 있습니다. <br>
        &nbsp; (1) 현재 글자 수가 100자 미만일 경우 : "글자 수 미달" 이라는 메세지가 표시됩니다. <br>
        &nbsp; (2) 현재 글자 수가 4000자 초과일 경우 : "글자 수 초과" 라는 메세지가 표시됩니다. <br>
        &nbsp; (3) 이외의 경우 : "글자 수 적정" 이라는 메세지가 표시됩니다. <br>
        <br>
        3. 상대방이 작성한 답안 왼쪽에 줄 번호가 표시됩니다. <br>
        특정 내용을 첨삭할 때 먼저 줄 번호를 언급하고 첨삭 내용을 작성하는 것을 권장해 드립니다. <br>
        <br>
        4. 모든 문항의 첨삭 내용을 작성하면 하단 오른쪽의 "제출하기" 버튼을 눌러 첨삭 내용을 제출합니다. <br>
        글자 수 조건을 만족하지 않는 첨삭이 있을 경우 제출이 불가능하다는 점 유의해 주시기 바랍니다. <br>
        제출을 완료하면 상대방의 첨삭이 끝난 후 서로의 첨삭 내용을 확인할 수 있습니다. <br>
        <br>
      </p>
    </div>
  </div>
</section>
<!--
  END MODULE AREA 2: Page Title 1
-->

<!--
START MODULE AREA 3: Accordian 1
-->
<section class="MOD_ACCORDION1">
  <div data-layout="_r">
    <div data-layout="al16">
      <div class="AP_accordion" role="tablist">
        <div class="MOD_ACCORDION1_Intro">
          <img id="logo" class="MOD_FEATURE_Picture" alt="삼성로고">
          <h2 data-theme="_bb2"><%= companyname %></h2>
          <p id="slogan"></p>
        </div>
        <form name="revise_form" action="/si/step3" method="post" id="rf">
					<input type="hidden" id="form_text_id" name="text_id">
          <p class="AP_accordion_tab" role="tab" data-theme="_bgp" tabindex="1">1번 문항</p>
          <div class="AP_accordion_panel" role="tabpanel">
            <section>
              <div data-layout="_r">
                <div data-layout="al16">
                  <h3>1번 문제</h3>
                  <p id="q1"><%= q1 %></p>
                </div>
                <div data-layout="de10 ec-half">
                  <h3>1번 답안</h3>
                  <div class="fixed_width">
                    <p id="a1"><%= a1 %></p>
                  </div>
                </div>
                <div data-layout="de10 ec-half">
                  <h3>1번 문항 첨삭</h3>
                  <div class="formRow">
                    <div data-layout="de10 ec-half">
                      <label for="MOD_TEXTFORM_NumField" class="num_label">현재 글자 수</label>
                    </div>
                    <div data-layout="de10 ec-half">
                      <input id="cur_r1" placeholder="현재 글자 수" value="0" type="number" class="MOD_TEXTFORM_NumField" readonly required>
                    </div>
                  </div>
                  <div class="formRow">
                    <label for="MOD_TEXTFORM_NumField" class="num_label"><div id="message_r1">글자 수 체크</div></label>
                  </div>
                  <div class="formRow">
                    <textarea id="r1" placeholder="첨삭 내용을 입력하세요" class="autosize" onkeydown="resize(this)" onkeyup="resize(this); CheckStrLength(1);" onchange="CheckStrLength(1)"></textarea>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <p class="AP_accordion_tab" role="tab" data-theme="_bgp" tabindex="2">2번 문항</p>
          <div class="AP_accordion_panel" role="tabpanel">
            <section>
              <div data-layout="_r">
                <div data-layout="al16">
                  <h3>2번 문제</h3>
                  <p id="q2"><%= q2 %></p>
                </div>
                <div data-layout="de10 ec-half">
                  <h3>2번 답안</h3>
                  <div class="fixed_width">
                    <p id="a2"><%= a2 %></p>
                  </div>
                </div>
                <div data-layout="de10 ec-half">
                  <h3>2번 문항 첨삭</h3>
                  <div class="formRow">
                    <div data-layout="de10 ec-half">
                      <label for="MOD_TEXTFORM_NumField" class="num_label">현재 글자 수</label>
                    </div>
                    <div data-layout="de10 ec-half">
                      <input id="cur_r2" placeholder="현재 글자 수" value="0" type="number" class="MOD_TEXTFORM_NumField" readonly required>
                    </div>
                  </div>
                  <div class="formRow">
                    <label for="MOD_TEXTFORM_NumField" class="num_label"><div id="message_r2">글자 수 체크</div></label>
                  </div>
                  <div class="formRow">
                    <textarea id="r2" placeholder="첨삭 내용을 입력하세요" class="autosize" onkeydown="resize(this)" onkeyup="resize(this); CheckStrLength(2);" onchange="CheckStrLength(2)"></textarea>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <p class="AP_accordion_tab" role="tab" data-theme="_bgp" tabindex="3">3번 문항</p>
          <div class="AP_accordion_panel" role="tabpanel">
            <section>
              <div data-layout="_r">
                <div data-layout="al16">
                  <h3>3번 문제</h3>
                  <p id="q3"><%= q3 %></p>
                </div>
                <div data-layout="de10 ec-half">
                  <h3>3번 답안</h3>
                  <div class="fixed_width">
                    <p id="a3"><%= a3 %></p>
                  </div>
                </div>
                <div data-layout="de10 ec-half">
                  <h3>3번 문항 첨삭</h3>
                  <div class="formRow">
                    <div data-layout="de10 ec-half">
                      <label for="MOD_TEXTFORM_NumField" class="num_label">현재 글자 수</label>
                    </div>
                    <div data-layout="de10 ec-half">
                      <input id="cur_r3" placeholder="현재 글자 수" value="0" type="number" class="MOD_TEXTFORM_NumField" readonly required>
                    </div>
                  </div>
                  <div class="formRow">
                    <label for="MOD_TEXTFORM_NumField" class="num_label"><div id="message_r3">글자 수 체크</div></label>
                  </div>
                  <div class="formRow">
                    <textarea id="r3" placeholder="첨삭 내용을 입력하세요" class="autosize" onkeydown="resize(this)" onkeyup="resize(this); CheckStrLength(3);" onchange="CheckStrLength(3)"></textarea>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <p class="AP_accordion_tab" role="tab" data-theme="_bgp" tabindex="4">4번 문항</p>
          <div class="AP_accordion_panel" role="tabpanel">
            <section>
              <div data-layout="_r">
                <div data-layout="al16">
                  <h3>4번 문제</h3>
                  <p id="q4"><%= q4 %></p>
                </div>
                <div data-layout="de10 ec-half">
                  <h3>4번 답안</h3>
                  <div class="fixed_width">
                    <p id="a4"><%= a4 %></p>
                  </div>
                </div>
                <div data-layout="de10 ec-half">
                  <h3>4번 문항 첨삭</h3>
                  <div class="formRow">
                    <div data-layout="de10 ec-half">
                      <label for="MOD_TEXTFORM_NumField" class="num_label">현재 글자 수</label>
                    </div>
                    <div data-layout="de10 ec-half">
                      <input id="cur_r4" placeholder="현재 글자 수" value="0" type="number" class="MOD_TEXTFORM_NumField" readonly required>
                    </div>
                  </div>
                  <div class="formRow">
                    <label for="MOD_TEXTFORM_NumField" class="num_label"><div id="message_r4">글자 수 체크</div></label>
                  </div>
                  <div class="formRow">
                    <textarea id="r4" placeholder="첨삭 내용을 입력하세요" class="autosize" onkeydown="resize(this)" onkeyup="resize(this); CheckStrLength(4);" onchange="CheckStrLength(4)"></textarea>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <br/><br/>
          <div class="button_area">
            <button id="revise_submit" type="button" class="btn" onclick="CheckPossible()">제출하기</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--
END MODULE AREA 3: Accordian 1
-->

<!--
START MODULE AREA 4: Text | Form
-->
<!--
END MODULE AREA 4: Text | Form
-->

<script src="assets/js/index.js"></script>
</body>

</html>
